{% extends 'calc_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <a onClick="javascript:history.go(-1);" class="btn btn-outline-primary mt-3 mx-3" style="position: absolute; right: 0; color: #FF0000">Reset</a>
</div>
<h1>Plots for Stochastic Mesh results:</h1>
<div class="container">
<h2>Call</h2>
{% for p in call %}
    <img src="data:image/png;base64,{{ p }}" />
{% endfor %}
</div>
<div class="container">
<h2>Put</h2>
{% for p in put %}
    <img src="data:image/png;base64,{{ p }}" />
{% endfor %}
</div>
{% endblock content %}
